@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme{
  --font-display: "Poppins", sans-serif;
  --breakpoint--3xl: 1920px;
  --color-primary-white: #F5FAF6;
  --color-primary-black: #333333;
  --color-secondary-blue: #D9E6F2;
  --color-secondary-peri: #D6C8FF;
  --color-accent: #5A2ECC;
}

@layer base{
  html{
    font-family: var(--font-display);
  }

  body{
    background-color: #fcfbfc;
    overflow-x: hidden ;
  }
}

/* custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar{
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb{
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 10px;;
}

.custom-scrollbar::-webkit-scrollbar-track{
  background: transparent;
}

@layer utilities {
  /* Animate text with a shine effect   */
  @keyframes text-shine {
    0%{
      background-position: 0% 50%;
    }
    100%{
      background-position: 100% 50%;
    } 
  }
}

.animate-text-shine {
  animation: text-shine 3s ease-in-out infinite alternate;
}

.input-box{
  @apply w-full flex justify-between gap-3 text-sm text-primary-black bg-gray-50/50 rounded px-4 py-3 mb-4 mt-3 border border-gray-100 outline-none focus-within:border-accent/80;
}

.btn-primary{
  @apply w-full text-sm text-primary-white bg-primary-black shadow-lg shadow-accent p-2.5 rounded-md my-1 hover:bg-accent/25 hover:text-primary-black cursor-pointer;
}

.btn-small {
  @apply flex items-center gap-2 text-[13px] font-semibold text-primary-white bg-linear-to-r from-accent to-purple-600 px-5 py-1.5 rounded cursor-pointer;
}

.btn-small-light{
  @apply flex items-center gap-2 text-[12px] font-semibold text-accent bg-accent/20  border border-accent/40 hover:border-accent px-3 py-1.5 rounded cursor-pointer
}

.form-input{
  @apply w-full text-sm text-primary-black outline-none bg-primary-white border border-slate-100 px-2.5 py-3 rounded-md mt-2 placeholder:text-gray-500 focus-within:border-accent/75 ;
}